*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

body {
    padding: 10px;
    overflow-x: hidden;
}

.preloader.d-done {
    display: none;
}

.back-info {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.09;
    z-index: -1;
}

.back-info img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.preloader {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10000;
}

.preloader img {
    width: 100%;
    max-width: 300px;
}

.anime-logo {
    animation: dropShadow 5s ease-in-out infinite;
}

.preloade-icone {
    position: relative;
    margin-top: 50px;
    width: 50px;
    height: 50px;
}

.preloade-icone>div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: #fff;
}

.content {
    width: 100%;
    min-height: 100vh;
}

.navigation {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 130px;
}

.logo img {
    width: 100%;
    object-fit: cover;
}

.cta-btn {
    padding: 8px 20px;
    border-radius: 30px;
    border: 0;
    color: #fff;
    outline: none;
}

.b-red {
    background-color: #ff0000;
}

.b-black {
    background-color: #000;
}

.textes {
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.titre {
    position: relative;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.titre h1 {
    font-size: 2.6em;
    font-weight: bold;
    color: #ff0000;
}

.titre span {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-10px, -30%);
    font-size: 2.2em;
    color: #ff0000;
    font-weight: bold;
    opacity: .2;
}

.textes p {
    width: 100%;
    max-width: 600px;
    text-align: center;
    line-height: 30px;
}

.btns {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 20px;
    border-bottom: solid 3px #ff0000;
}

.btn {
    width: 100%;
    max-width: 400px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.btn button {
    border: none;
    outline: none;
    color: #525252;
    background-color: rgb(193, 192, 192);
    cursor: pointer;
}

.btn button.active {
    background-color: #ff0000;
    color: #fff;
}

.cibles {
    position: relative;
    margin-top: 20px;
    /* overflow-x: hidden; */
    background-color: orange;
}

.cible {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px 10px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.292);
    opacity: 0;
    /* transform: translateX(-100%); */
    transition: 0.5s;
}

.trans-l {
    transform: translateX(-100%);
}

.trans-r {
    transform: translateX(100%);
}

.cible.active {
    opacity: 1;
    transform: translateX(0) !important;
}

.cible .video {
    width: 100%;
    min-height: 300px;
    background-color: purple;
}

.content-cible {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btns-cibles {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.btn-cible {
    width: 100%;
    max-width: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

@media screen and (max-width : 750px) {
    .cible .video {
        grid-column: 1 / span 2;
    }

    .cible .content-cible {
        grid-column: 1 / span 2;
    }
}

@media screen and (max-width : 395px) {
    .btn-cible button {
        grid-column: 1 / span 2;
    }
}