*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.preloader.d-done {
    display: none;
}

.back-info {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.09;
}

.back-info img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.preloader {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.preloader img {
    width: 100%;
    max-width: 300px;
}

.anime-logo {
    animation: dropShadow 5s ease-in-out infinite;
}

.preloade-icone {
    position: relative;
    margin-top: 50px;
    width: 50px;
    height: 50px;
}

.preloade-icone>div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: #fff;
}

.home {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 70px 1fr;
    padding: 20px 10px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 40px;
}

.logo img {
    height: 100%;
}

.menu {
    display: flex;
    gap: 10px;
}

.menu li {
    list-style-type: none;
    width: 30px;
    height: 30px;
    background: #000;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.content-header {
    display: grid;
    grid-template-rows: 0.3fr 1fr;
    gap: 50px;
}

.textes h1 {
    text-align: center;
    font-size: 50px;
    color: rgb(177, 5, 5);
    margin-bottom: 40px;
}

.textes .s {
    background-color: #000;
    padding: 5px 10px;
    color: #fff;
}

.textes p {
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin: auto;
}

.cibles {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 10px;
}

.cibles>* {
    position: relative;
    width: 100%;
    max-width: calc(50% - 10px);
    min-width: min(450px, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 0 3px 2px rgba(37, 37, 37, 0.253); */
    border-radius: 10px;
    padding: 30px 7px;
    /* border: solid 1px rgb(214, 96, 16); */
}

.titre-shadow {
    margin-bottom: 30px;
}

.titre-shadow {
    position: relative;
    /* background: orange; */
}

.titre-shadow span {
    position: absolute;
    color: rgba(0, 0, 0, 0.253);
    font-weight: bold;
    font-size: 2em;
    left: 0;
    top: 0;
    text-transform: uppercase;
    transform: translate(-10px, -30%);
    z-index: -1;
}

.red {
    background-color: rgb(139, 4, 4);
}

.black {
    background-color: #000;
}

.titre-shadow h1 {
    color: rgb(177, 5, 5);
}

.back-cible {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .2;
}

.back-cible img {
    /* width: 100%; */
    height: 100%;
    /* object-fit: cover; */
}

.cibles p {
    /* color: orange; */
    text-align: center;
    margin-bottom: 30px;
}

.cibles .btns {
    width: 100%;
    max-width: 350px;
    /* height: 40px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    /* background-color: orange; */
}

.btns a {
    padding: 10px 4px;
    border-radius: 50px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}

.c2 .back-cible {
    display: flex;
    justify-content: flex-end;
}

.back-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: #000; */
    z-index: -2;
    opacity: .05;
}

.back-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes dropShadow {
    0% {
        filter: drop-shadow(2px 2px 0px hwb(0 100% 0% / 0));
    }

    50% {
        filter: drop-shadow(2px 2px 0px #fff);
    }

    100% {
        filter: drop-shadow(2px 2px 0px #ffffff00);
    }
}

@media screen and (max-width: 930px) {
    .cibles {
        justify-content: center;
    }

    .cibles .btns {
        grid-template-columns: 1fr;
    }
}