*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

body {
    padding: 30px 10;
    overflow-x: hidden;
}

.preloader.d-done {
    /* display: none; */
    opacity: 0;
}

.back-info {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.09;
    z-index: -1;
}

.back-info img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.preloader {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10000;
    transition: 0.8s;
}

.preloader.active {
    display: none;
}

.preloader img {
    width: 100%;
    max-width: 300px;
}

.dv {
    animation: rotate 2s linear infinite;
    opacity: .6;
}

.dr {
    animation: rotateScale 4s linear infinite;
    opacity: .1;
}

.anime-logo {
    animation: dropShadow 5s ease-in-out infinite;
}

.preloade-icone {
    position: relative;
    margin-top: 50px;
    width: 50px;
    height: 50px;
}

.preloade-icone>div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: #fff;
}

.content {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    min-height: 100vh;
    padding: 70px 10px 0 10px;
}

.navigation {
    position: fixed;
    width: 100%;
    max-width: 1300px;
    height: 70px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    z-index: 100;
}

.navigation.active {
    background-color: #fff;
    box-shadow: 0 0 5px 3px rgba(75, 75, 75, 0.219);
}

.logo {
    width: 130px;
}

.logo img {
    width: 100%;
    object-fit: cover;
}

.cta-btn {
    padding: 8px 20px;
    border-radius: 30px;
    border: 0;
    color: #fff;
    outline: none;
    cursor: pointer;
}

.b-red {
    background-color: #ff0000;
    color: #fff;
}

.b-black {
    background-color: #000;
    color: #fff;
}

.textes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.titre {
    position: relative;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.titre h1 {
    font-size: 2.6em;
    font-weight: bold;
    color: #ff0000;
}

.titre>span {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-10px, -30%);
    font-size: 2.2em;
    color: #ff0000;
    font-weight: bold;
    opacity: .2;
}

.textes p {
    width: 100%;
    max-width: 900px;
    text-align: center;
    line-height: 30px;
    font-size: 1.2em;
        color: #535252;
}

.textes p span {
    font-weight: bold;
}

.btns {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 20px;
    border-bottom: solid 3px #ff0000;
}

.btn {
    width: 100%;
    max-width: 400px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.btn button {
    border: none;
    outline: none;
    color: #525252;
    background-color: rgb(193, 192, 192);
    cursor: pointer;
}

.btn button.active {
    background-color: #ff0000;
    color: #fff;
}

.cibles {
    position: relative;
    width: 100%;
    min-height: 200px;
    margin-top: 20px;
}

.cible {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px 10px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.292);
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.8s, transform 0.4s;
}

.cible.active {
    opacity: 1;
    transform: translateX(0) !important;
}

.cible .video {
    width: 100%;
    min-height: 100px;
}

.cible .video video {
    width: 100%;
    border-radius: 10px;
}

.cible .video video[poster] {
    width: 100%;
    /* height: 352px; */
    object-fit: cover;
}

.content-cible {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.para-cibles {
    line-height: 25px;
    padding: 0 5px;
    text-align: justify;
    width: 100%;
    max-width: 550px;
    color: #5a5959;
    /* word-spacing: -6px; */
}

.btns-cibles {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

}

.btn-cible {
    width: 100%;
    max-width: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.btn-cible button {
    width: 100%;
}

@keyframes dropShadow {
    0% {
        filter: drop-shadow(2px 2px 0px #ffffff00);
    }

    50% {
        filter: drop-shadow(2px 2px 0px #fff);
    }

    100% {
        filter: drop-shadow(2px 2px 0px #ffffff00);
    }
}
 body div.calendly-badge-widget{
    top: 10px !important;
    bottom: initial;
}
@keyframes rotate {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1.1) rotate(360deg);
    }
}

@keyframes rotateScale {
    0% {
        transform: scale(1) rotate(0deg);
    }

    50% {
        transform: scale(1.3) rotate(-180deg);
    }

    100% {
        transform: scale(1) rotate(-360deg);
    }
}

@media screen and (max-width : 750px) {
    .cible .video {
        grid-column: 1 / span 2;
    }

    .cible .content-cible {
        grid-column: 1 / span 2;
    }
}

@media screen and (max-width : 395px) {
    .btn-cible a {
        grid-column: 1 / span 2;
    }

    .btns button {
        font-size: 12px;
    }
}