.img-cont {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-sizing: 0 0 5px 3px hsla(0, 0%, 0%, 0.685);
    /* opacity: 0; */
}

.div-cont-img {
    position: relative;
    width: 100%;
    height: 100%;
}

.div-cont-img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    top: 0;
    z-index: -1;
    border-radius: 20px;
}

.div-cont-img.left-img::after {
    left: 0;
    transform: translate(-10%, -10%);
}

.div-cont-img.right-img::after {
    right: 0;
    transform: translate(10%, 10%);
}

div.none-m {
    margin: 0 !important;
}

.marg-bot {
    margin-bottom: 40px;
}

.sec-about {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.sec-about>div {
    width: 100%;
    /* max-width: 400px; */
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    flex-direction: column;
    /* background-color: orange; */
}

.texte-about {
    max-width: 600px;
    min-height: 300px;
}

.img-about {
    max-width: 400px;
    /* height: 400px; */
}

.img-about img {
    width: 100%;
    /* height: 100%; */
    /* object-fit: cover; */
}

.sec-about>div p {
    width: 90%;
}

.texte-about>p {
    color: #333;
}

.sec-title {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

.shadow-text-sec {
    font-size: 35px !important;
}

.btn-about-sec {
    margin-top: 30px;
    max-width: 200px;
}

.logo-s {
    width: 100px;
}

.conditions {
    /* background: orange; */
    min-height: 300px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    align-items: start;
    /* gap: 10px; */
    gap: 50px;
}

.condition {
    position: relative;
    min-height: 200px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.082);
}

.condition.black p {
    color: #fff;
}

.type-cond {
    position: relative;
    text-transform: uppercase;
    color: #aaa;
    /* text-align: center; */
    font-size: 1.2em;
    font-weight: bold;
    margin: 30px 0 40px 0;
    padding: 10px 0 10px 0;
}

.type-cond::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: #aaa;
    left: 0;
    bottom: 0;
}

.titre-cond {
    /* font-size: 1.2em; */
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 35px;
    text-align: center;
    /* max-width: 100px; */
}

.cont-cond {
    padding: 0 10px;
    /* text-align: center; */
}

.img-cond {
    position: absolute;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    left: 0;
    top: 0;
    box-shadow: -3px -3px 5px rgba(0, 0, 0, 0.082);
    transform: translate(-30%, -30%);
}

.img-cond img {
    width: 70%;
    object-fit: cover;
}

.description-content p {
    color: #333;
}

.black {
    background: #222;
}

.roadmap {
    background: #fff;
}

.color-fff {
    color: #fff;
}

.red {
    background: #aa0000;
}

.blanc {
    background: #fff;
}

.f1f1f1 {
    background-color: #f9f9f9;
}

.small-footer {
    background-color: #000;
    padding-top: 50px;
}

.offering {
    background-color: #f1f1f1;
}

.title {
    color: #aa0000;
}

.title span {
    color: #555;
}

.title h1 div {
    display: inline-block;
}

.sim {
    color: #000;
}

.num {
    transform: translateX(-10px);
}

.info {
    position: relative;
    padding: 0;
    margin-top: 70px;
}

.back-info {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.05;
}

.back-info img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#para-header {
    color: #aa0000;
    font-weight: bold;
}

.mt-10 {
    margin-top: 100px;
}

.gradient_button {
    background-color: #aa0000;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.219) !important;
}

.news {
    position: relative;
    /* background-color: orange; */
}

.content-benifices {
    background: #333;
    padding: 100px 10px;
    position: relative;
}

.content-benifices h2 {
    color: #fff;
}

.benifices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.content-benifices .back-info {
    opacity: .5;
}

.benifice {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    max-width: 650px;
    min-height: 300px;
    gap: 10px;
    margin: 20px 0;
}

.ben-main {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.275);
    background-color: #333;
}

.ben-main p {
    color: #fff;
    width: 250px;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
}

.ben-main img {
    height: 100%;
}

.ben-main .next {
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #fff;
    font-size: 1.3em;
    color: #555;
    z-index: 10;
}

.bottom {
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%) rotate(90deg);
}

.left {
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
}

.right {
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
}

.top {
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%) rotate(-90deg);
}

.type-ben {
    position: absolute;
    left: 0;
    top: 0;
}

.none {
    display: none !important;
}

.type-ben span {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .7rem;
    padding: 7px 13px;
    background: #000;
    border-bottom: solid 1px #fff;
}

.logo-footer {
    width: 100%;
    max-width: 300px;
    filter: drop-shadow(2px 2px 0px #fff);
}

@keyframes dropShadow {
    0% {
        filter: drop-shadow(2px 2px 0px #ffffff00);
    }

    50% {
        filter: drop-shadow(2px 2px 0px #fff);
    }

    100% {
        filter: drop-shadow(2px 2px 0px #ffffff00);
    }
}

.m-b {
    margin-bottom: 30px;
}

#back-to-top {
    position: fixed;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 32px;
    right: 32px;
    border-radius: 50%;
    background: #fff;
    color: #555;
    cursor: pointer;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    font-size: 1.2em;
    transform: rotate(-90deg);
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.155);
    z-index: 9999;
}

#banner-cards>img {
    width: 70%;
    border-radius: 10px;
    box-shadow: -30px 30px 0 hsla(0, 0%, 0%, 0.153);
}

.preloader {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.preloader img {
    width: 100%;
    max-width: 300px;
}

.anime-logo {
    animation: dropShadow 5s ease-in-out infinite;
}

.preloade-icone {
    position: relative;
    margin-top: 50px;
    width: 50px;
    height: 50px;
}

.preloade-icone>div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: #fff;
    /* background: #fff */
}

.dv {
    animation: rotate 2s linear infinite;
}

.dr {
    animation: rotateIn 4s linear infinite;
    opacity: .3;
}

.partenaires {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: center; */
    align-items: center;
    gap: 30px;
    margin-top: 60px;
}

.partenaire {
    display: block;
    height: 100px;
    padding: 10px;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.155);
}

.partenaire img {
    height: 100%;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateIn {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

@media screen and (max-width : 1211px) {
    .felx-reverse {
        flex-flow: column-reverse wrap;
    }

}

@media screen and (max-width : 629px) {
    .benifice {
        justify-content: center;
    }

    .none {
        display: flex !important;
    }

    .hidde {
        display: none !important;
    }

}

.mobile-menu {
    position: fixed;
    background-color: #fff;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.3);
    width: 280px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 5;
    padding: 0 40px;
    padding-top: calc(50vh - 210px);
    right: -320px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.mobile-menu:before {
    content: '';
    position: fixed;
    width: calc(100% - 280px);
    height: 100%;
    left: -100%;
    top: 0;
    z-index: 4;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.mobile-menu .btn,
.mobile-menu input.btn,
.mobile-menu .btn:visited,
.mobile-menu .btn:focus,
.mobile-menu .btn:active {
    padding: 0.375rem 1.875rem;
    font-size: 0.875rem;
    text-align: center;
    display: block;
}

.mobile-menu .gradient_button {
    padding: 0.5rem 1.875rem !important;
    margin-right: 0;
    margin-bottom: 10px;
}

.mobile-menu .outline_button {
    padding: 0.375rem 1.875rem;
    margin-right: 0;
    margin-bottom: 10px;
}

.mobile-menu .logotype {
    display: block;
    text-align: center;
}

.mobile-menu ul {
    padding: 1.25rem 0;
}

.mobile-menu ul li {
    width: 100%;
}

.mobile-menu ul li a {
    display: block;
    padding: 10px 0px;
    color: #555 !important;
    transition: 0.2s;
}

.mobile-menu ul li a:hover {
    padding-left: 10px;
}

.mobile-menu .close-menu-button {
    position: absolute;
    display: block;
    right: 30px;
    top: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    z-index: 6;
    transition: 0.2s;
    background-color: #000;
}

.mobile-menu .close-menu-button:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 3px 1px #000;
}

.mobile-menu .close-menu-button:hover span {
    background: #000;
}

.mobile-menu .close-menu-button span {
    display: block;
    width: 20px;
    height: 2px;
    margin-bottom: 5px;
    position: absolute;
    top: 18px;
    left: 9px;
    border-radius: 8px;
    transition: 0.2s;
    background-color: #ffff;
}

.mobile-menu .close-menu-button span:nth-child(1) {
    transform: rotateZ(45deg);
}

.mobile-menu .close-menu-button span:nth-child(2) {
    transform: rotateZ(-45deg);
}

.active-menu {
    right: 0;
    z-index: 9999
}

.active-menu:before {
    left: 0;
}