.img-cont {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-sizing: 0 0 5px 3px hsla(0, 0%, 0%, 0.685);
    /* opacity: 0; */
}

#titre {
    padding: 0 15px 0 0;
    /* color: red; */
}

.after-span {
    position: relative;
    color: #d70d28;
}

.div-cont-img {
    position: relative;
    width: 100%;
    height: 100%;
}

.div-cont-img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    top: 0;
    z-index: -1;
    border-radius: 20px;
}

.left-img {
    padding-bottom: 50px;
}

.right-img {
    padding-bottom: 50px;
}

.div-cont-img.left-img::after {
    left: 0;
    transform: translate(-10%, -10%);
}

.div-cont-img.right-img::after {
    right: 0;
    transform: translate(10%, 10%);
}

div.none-m {
    margin: 0 !important;
}

.marg-bot {
    margin-bottom: 40px;
}

.sec-about {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.sec-about>div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.texte-about {
    max-width: 600px;
    min-height: 300px;
}

.img-about {
    max-width: 400px;
    /* height: 400px; */
}

.img-about img {
    width: 100%;
    /* height: 100%; */
    /* object-fit: cover; */
}

.sec-about>div p {
    width: 90%;
}

.texte-about>p {
    color: #333;
}

.sec-title {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

.shadow-text-sec {
    font-size: 35px !important;
}

.btn-about-sec {
    margin-top: 30px;
    max-width: 200px;
}

.logo-s {
    width: 100px;
}

/* Roadmap */
.roadmap {
    position: relative;
    width: 100%;
    min-height: 400px;
    padding: 80px 10px;
}

.content-roadmap {
    width: 100%;
    max-width: 1300px;
    /* width: 300px; */
    margin: auto;
    display: flex;
        flex-flow: row wrap;
        /* grid-template-columns: repeat(auto-fill, 300px); */
        gap: 30px;
    justify-content: center;
}
.content-roadmap.entreprise {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content-items {
    min-height: 500px;
    width: 100%;
        max-width: 370px;
}
.content-roadmap.entreprise>* {
    width: 100%;
    max-width: 100%;
}
.content-anime {
    width: 100%;
    height: 220px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    perspective: 1000px;
}

.cube {
    position: relative;
    transform-style: preserve-3d;
    width: 170px;
    height: 170px;
    transform: rotateX(-29deg) rotateY(-46deg);
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.ci_1 .f_1 {
    color: #00c8fd;
}

.ci_2 .f_1 {
    color: #3F30D1;
}

.ci_3 .f_1 {
    color: #9A28F2;
}

.ci_4 .f_1 {
    color: #EB2E7E;
}

.ci_5 .f_1 {
    color: #E92E49;
}

.f_1 {
    transform: rotateY(90deg) translateZ(-85px);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 3.4em;
    font-weight: bold;

}

.ci_1 .f_2 {
    box-shadow: 10px 10px 0 0 #00c8fd;
    color: #177992;
    background-color: #F3FBFE;
}

.ci_2 .f_2 {
    box-shadow: 10px 10px 0 0 #3F30D1;
    color: #3F30D1;
    background-color: #F7F5FF;
}

.ci_3 .f_2 {
    box-shadow: 10px 10px 0 0 #9A28F2;
    color: #9A28F2;
    background-color: #F7EFFC;
}

.ci_4 .f_2 {
    box-shadow: 10px 10px 0 0 #EB2E7E;
    color: #EB2E7E;
    background-color: #FFF4F8;
}

.ci_5 .f_2 {
    box-shadow: 10px 10px 0 0 #E92E49;
    color: #E92E49;
    background-color: #FFF5F4;
}

.f_2 {
    transform: rotateX(90deg) translateZ(-85px);
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
}

.f_2 lottie-player {
    width: 70%;
}

.f_3 {
    transform: rotateX(90deg) translateZ(-150px) scale(0.7);
    filter: blur(25px);
    opacity: .6;
}

.ci_1 .f_3 {
    background: #00c8fd;
}

.ci_2 .f_3 {
    background: #3F30D1;
}

.ci_3 .f_3 {
    background: #9A28F2;
}

.ci_4 .f_3 {
    background: #EB2E7E;
}

.ci_5 .f_3 {
    background: #E92E49;
}

.titre-cont-road {
    position: relative;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 20px;
}

.ci_1 .titre-cont-road {
    color: #00c8fd;
}

.ci_2 .titre-cont-road {
    color: #3F30D1;
}

.ci_3 .titre-cont-road {
    color: #9A28F2;
}

.ci_4 .titre-cont-road {
    color: #EB2E7E;
}

.ci_5 .titre-cont-road {
    color: #E92E49;
}

.titre-cont-road::after {
    position: absolute;
    content: "";
    width: 40%;
    height: 5px;
    bottom: 0;
    left: 20px;
}

.ci_1 .titre-cont-road::after {
    background: #00c8fd;
}

.ci_2 .titre-cont-road::after {
    background: #3F30D1;
}

.ci_3 .titre-cont-road::after {
    background: #9A28F2;
}

.ci_4 .titre-cont-road::after {
    background: #EB2E7E;
}

.ci_5 .titre-cont-road::after {
    background: #E92E49;
}

.desc-road {
    /* padding-left: 20px; */
    /* padding-right: 10px; */
    padding: 20px 10px 20px 20px;
    font-size: 14px;
    color: #444;
    /* border-left: solid 3px #000; */
}

.ci_1 .desc-road {
    border: solid 3px #00c8fd;
}

.ci_2 .desc-road {
    border: solid 3px #3F30D1;
}

.ci_3 .desc-road {
    border: solid 3px #9A28F2;
}

.ci_4 .desc-road {
    border: solid 3px #EB2E7E;
}

.ci_5 .desc-road {
    border: solid 3px #E92E49;
}

/* Fin roadmap */
/* swot */
.content-swot {
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e101d;
    flex-direction: column;
    padding: 100px 10px;
}

.titre-cont-swot {
    color: #fff;
    font-size: 2.4em;
    margin-bottom: 50px;
}

.swots {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.swot {
    position: relative;
    min-height: 250px;
    display: grid;
    padding: 30px 0 10px 0;
    overflow: hidden;
}

.sw_1 {
    background-color: #FFAF00;
}

.sw_2 {
    background-color: #F93751;
}

.sw_3 {
    background-color: #8CCB02;
}

.sw_4 {
    background-color: #00AFFF;
}

.titre-swot {
    color: #fff;
    text-transform: uppercase;
    word-break: break-all;
}

.icone-swot {
    font-size: 4em;
    color: #fff;
    display: flex;
    justify-content: center;
}

.sw_3 .icone-swot,
.sw_4 .icone-swot {
    align-items: flex-end;
}

.sw_1 .titre-swot,
.sw_3 .titre-swot {
    padding-left: 40px;
}

.titre-carte-swot {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    background: #fff;
    font-weight: bold;
    text-transform: uppercase;
        font-size: 2em;
}

.sw_1 .titre-carte-swot,
.sw_3 .titre-carte-swot {
    padding: 5px 20px 5px 40px;
}

.texte-swot {
    position: relative;
    font-size: 14px;
    border-left: solid 3px #fff;
    color: #fff;
    padding-left: 5px;
    padding-right: 10px;
}

.sw_1 .texte-swot,
.sw_3 .texte-swot {
    margin-left: 35px;
}

.sw_1,
.sw_3 {
    grid-template-columns: 1fr 100px;
}

.sw_2,
.sw_4 {
    grid-template-columns: 100px 1fr;
}

.sw_1,
.sw_4 {
    border-radius: 0 50px 0 50px;
}

.sw_2,
.sw_3 {
    border-radius: 50px 0 50px 0;
}

.cercle {
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    background: #fff;
    font-size: 2.4em;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 0 3px 4px #0000004b inset;
}

.sw_1 .cercle {
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 20px;
}

.sw_2 .cercle {
    align-items: flex-end;
    padding-left: 20px;
}

.sw_3 .cercle {
    justify-content: flex-end;
    padding-right: 20px;
}

.sw_4 .cercle {
    padding-left: 20px;
}

.sw_1 .cercle {
    right: 0;
    bottom: 0;
    border-radius: 100% 0% 0% 0% / 100% 0% 0% 0%;
    border-top: 10px solid #FF8550;
    border-left: 10px solid #FF8550;
}

.sw_2 .cercle {
    left: 0;
    bottom: 0;
    border-radius: 0% 100% 0% 0% / 0% 100% 0% 0%;
    border-top: 10px solid #C82B7C;
    border-right: 10px solid #C82B7C;
}

.sw_3 .cercle {
    right: 0;
    top: 0;
    border-radius: 100% 0% 0% 100% / 0% 0% 100% 100%;
    border-bottom: 10px solid #2F9002;
    border-left: 10px solid #2F9002;
}

.sw_4 .cercle {
    left: 0;
    top: 0;
    border-radius: 100% 0% 100% 0% / 0% 0% 100% 0%;
    border-right: 10px solid #0064DB;
    border-bottom: 10px solid #0064DB;
}

/* fin swot */
.conditions {
    /* background: orange; */
    min-height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: start;
    /* gap: 10px; */
    gap: 50px;
    margin-top: 50px;
}

.condition {
    position: relative;
    min-height: 200px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.082);
}

.condition.black p {
    color: #fff;
}

.titre-cond {
    /* font-size: 10px; */
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 35px;
    text-align: center;
    /* max-width: 100px; */
}

.cont-cond {
    padding: 0 10px;
    /* text-align: center; */
}

.img-cond {
    position: absolute;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    left: 0;
    top: 0;
    box-shadow: -3px -3px 5px rgba(0, 0, 0, 0.082);
    transform: translate(-30%, -30%);
}

.img-cond img {
    width: 70%;
    object-fit: cover;
}

.description-content p {
    color: #333;
}

.black {
    background: #222;
}

.small-footer {
    background-color: #000;
    padding-top: 50px;
}

.offering {
    background-color: #f1f1f1;
}

.title span {
    color: #555;
}

.title h1 div {
    display: inline-block;
}

.titre-h2 {
    font-size: clamp(30px, 5.8vmin, 60px) !important;
    line-height: normal !important;
    padding: 0 10px 0 0 !important;
}

.sim {
    color: #000;
}

.num {
    transform: translateX(-10px);
}

.info {
    position: relative;
    padding: 50px 0 0 10px;
}

.back-info {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.05;
}

.back-info img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#para-header {
    color: #333;
    font-weight: bold;
    width: 100%;
    max-width: 450px;
}

.mt-10 {
    margin-top: 80px;
}

.gradient_button {
    background-color: #aa0000;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.219) !important;
}

.news {
    position: relative;
    /* background-color: orange; */
}

.none {
    display: none !important;
}

.logo-footer {
    width: 100%;
    max-width: 300px;
    filter: drop-shadow(2px 2px 0px #fff);
}

.container {
    padding-bottom: 30px;
}

@keyframes dropShadow {
    0% {
        filter: drop-shadow(2px 2px 0px #ffffff00);
    }

    50% {
        filter: drop-shadow(2px 2px 0px #fff);
    }

    100% {
        filter: drop-shadow(2px 2px 0px #ffffff00);
    }
}

.m-b {
    margin-bottom: 30px;
}

#back-to-top {
    position: fixed;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 32px;
    right: 32px;
    border-radius: 50%;
    background: #fff;
    color: #555;
    cursor: pointer;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    font-size: 1.2em;
    transform: rotate(-90deg);
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.155);
    z-index: 9999;
}

#banner-cards>img {
    width: 70%;
    border-radius: 10px;
    box-shadow: -30px 30px 0 hsla(0, 0%, 0%, 0.153);
}

.preloader {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .5s;
}

.preloader.d-none {
    opacity: 0;
}

.preloader.active {
    display: none;
}

.preloader img {
    width: 100%;
    max-width: 300px;
}

.anime-logo {
    animation: dropShadow 5s ease-in-out infinite;
}

.preloade-icone {
    position: relative;
    margin-top: 50px;
    width: 50px;
    height: 50px;
}

.preloade-icone>div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: #fff;
    /* background: #fff */
}

.dv {
    animation: rotate 2s linear infinite;
    opacity: .6;
}

.dr {
    animation: rotateScale 4s linear infinite;
    opacity: .1;
}

.partenaires {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: center; */
    align-items: center;
    gap: 30px;
    margin-top: 60px;
}

.partenaire {
    display: block;
    width: 300px;
    height: 100px;
    /* padding: 10px; */
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.155);
}

.partenaire img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
}

strong a {
    text-decoration: underline;
    color: #555 !important;
}

.color-fff {
    color: #fff;
}

.red {
    background: #aa0000 !important;
}

.c-red {
    color: #aa0000;
    display: inline;
}

.blanc {
    background: #fff;
}

.f1f1f1 {
    background-color: #f9f9f9;
}

@keyframes rotate {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1.1) rotate(360deg);
    }
}

@keyframes rotateScale {
    0% {
        transform: scale(1) rotate(0deg);
    }

    50% {
        transform: scale(1.3) rotate(-180deg);
    }

    100% {
        transform: scale(1) rotate(-360deg);
    }
}

@media screen and (max-width : 1211px) {
    .felx-reverse {
        flex-flow: column-reverse wrap;
    }

    .flex-center {
        /* align-items: center; */
        justify-content: center;
    }

}
@media screen and (max-width : 900px) {
    .condition {
        grid-column: 1 / span 2;
    }

}
@media screen and (max-width : 670px) {
    .content-roadmap.entreprise .content-items {
        grid-column: 1/ span 2;
    }

}
@media screen and (max-width : 340px) {
    .logo-s {
        width: 80px;
    }
}

@media screen and (max-width : 766px) {
    .felx-reverse-info {
        flex-direction: column-reverse;
    }

    .swot {
        grid-column: 1/ span 2;
    }

}

.mobile-menu {
    position: fixed;
    background-color: #fff;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.3);
    width: 280px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 5 !important;
    padding: 0 40px;
    padding-top: calc(50vh - 210px);
    right: -320px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.mobile-menu:before {
    content: '';
    position: fixed;
    width: calc(100% - 280px);
    height: 100%;
    left: -100%;
    top: 0;
    z-index: 4;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.mobile-menu .btn,
.mobile-menu input.btn,
.mobile-menu .btn:visited,
.mobile-menu .btn:focus,
.mobile-menu .btn:active {
    padding: 0.375rem 1.875rem;
    font-size: 0.875rem;
    text-align: center;
    display: block;
}

.mobile-menu .gradient_button {
    padding: 0.5rem 1.875rem !important;
    margin-right: 0;
    margin-bottom: 10px;
}

.mobile-menu .outline_button {
    padding: 0.375rem 1.875rem;
    margin-right: 0;
    margin-bottom: 10px;
}

.mobile-menu .logotype {
    display: block;
    text-align: center;
}

.mobile-menu ul {
    padding: 1.25rem 0;
}

.mobile-menu ul li {
    width: 100%;
}

.mobile-menu ul li a {
    display: block;
    padding: 10px 0px;
    color: #555 !important;
    transition: 0.2s;
}

.mobile-menu ul li a:hover {
    padding-left: 10px;
}

.mobile-menu .close-menu-button {
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    z-index: 6;
    transition: 0.2s;
    background-color: #000;
}

.mobile-menu .close-menu-button:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 3px 1px #000;
}

.mobile-menu .close-menu-button:hover span {
    background: #000;
}

.mobile-menu .close-menu-button span {
    display: block;
    width: 20px;
    height: 2px;
    margin-bottom: 5px;
    position: absolute;
    top: 18px;
    left: 9px;
    border-radius: 8px;
    transition: 0.2s;
    background-color: #ffff;
}

.mobile-menu .close-menu-button span:nth-child(1) {
    transform: rotateZ(45deg);
}

.mobile-menu .close-menu-button span:nth-child(2) {
    transform: rotateZ(-45deg);
}

.active-menu {
    right: 0;
    z-index: 9999
}

.active-menu:before {
    left: 0;
}
.content-calandly{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(137, 137, 137, 0.735);
    left: 0;
    top: 0;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.001);
    opacity: 0;
    transition: opacity 0.5s;
}
.content-calandly.active{
    transform: scale(1);
    opacity: 1;
}
.content-calandly #calendly{
    width: 100%;
    height: 100%;
}
.content-calandly .close-calandly{
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    background: rgba(137, 137, 137, 0.735);
    cursor: pointer;
}